[Unit]
Description=Job that runs the alexdns daemon

[Service]
Type=simple
Environment=statedir=/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alexdns
ExecStart=/usr/local/bin/alexdns

[Install]
WantedBy=multi-user.target
