[Unit]
Description=Job that runs the alexdns daemon

[Service]
Type=simple
Environment=statedir=/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alexdns
ExecStart=/usr/bin/python3 /usr/local/lib/python3.6/dist-packages/alexdns/__main__.py

[Install]
WantedBy=multi-user.target
